# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [2]:


# File to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df= pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## District Summary

In [4]:
# Calculate the total number of unique schools
total_schools_count = school_data_df['school_name'].nunique()
print(total_schools_count)

15

In [24]:
# Calculate the total number of students
#student_count =student_count
total_student_count = school_data_complete['student_name'].count()

# total_students = student_data_df['student_name'].count()
school_data_complete['student_name'].count()

39170

In [30]:
# Calculate the total budget
#total_budget =total_budget
total_budget = school_data_df['budget'].sum()
print(total_budget)

24649428

In [26]:
print(school_data_df.columns)

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [27]:
print(student_data_df.columns)

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [28]:
# Calculate the average (mean) math score
#average_math_score =average_math_score
average_math_score = student_data_df['math_score'].mean()
print(average_math_score)

78.98537145774827

In [29]:
# Calculate the average (mean) reading score
#average_reading_score =average_reading_score
average_reading_score = student_data_df['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [32]:
# # Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
# passing_math_count = school_data_complete[(student_data_df["math_score"] >= 70)].count()["student_name"]
# passing_math_percentage = passing_math_count / total_student_count * 100
# print (passing_math_percentage)

In [33]:
# Count the number of students who passed math
passing_math_count = school_data_complete[student_data_df["math_score"] >= 70].count()["student_name"]

# Calculate the total number of students
total_students_count = school_data_complete["student_name"].count()

# Calculate the percentage of students who passed math
passing_math_percentage = (passing_math_count / total_students_count) * 100

# Print the result
print(passing_math_percentage)

74.9808526933878

In [ ]:
# # Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)

# passing_reading_count = school_data_complete[(student_data_df["reading_score"] >= 70)].count()["student_name"]
# passing_reading_percentage = passing_reading_count / total_students_count * 100
# passing_reading_percentage

In [34]:
# calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  total_students_count * 100
print(overall_passing_rate)

65.17232575950983

In [35]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
# # Formatting
# district_summary_total_students_count=school_data_complete["Student_name"] = school_data_complete["Student_name"].map("{:,}".format)
# district_summary_total_budget=school_data_complete["Total Budget"] = school_data_complete["Total Budget"].map("${:,.2f}".format)

# # Display the DataFrame
# print(district_summary_total_students_count)
# print(district_summary_total_budget)
import pandas as pd

# Assuming `school_data_complete` is your DataFrame

# Calculate key metrics
total_students_count = school_data_complete["student_name"].nunique()  # Total unique students
total_budget = school_data_complete["budget"].sum()  # Total budget

# Calculate other key metrics if needed
average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()

passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
passing_math_percentage = (passing_math_count / total_students_count) * 100

passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
passing_reading_percentage = (passing_reading_count / total_students_count) * 100

overall_passing_rate = (passing_math_percentage + passing_reading_percentage) / 2

# Format the metrics
formatted_total_students_count = "{:,}".format(total_students_count)
formatted_total_budget = "${:,.2f}".format(total_budget)
formatted_average_math_score = "{:.2f}".format(average_math_score)
formatted_average_reading_score = "{:.2f}".format(average_reading_score)
formatted_passing_math_percentage = "{:.2f}%".format(passing_math_percentage)
formatted_passing_reading_percentage = "{:.2f}%".format(passing_reading_percentage)
formatted_overall_passing_rate = "{:.2f}%".format(overall_passing_rate)

# Create a DataFrame
district_summary = pd.DataFrame({
    "Total Students": [formatted_total_students_count],
    "Total Budget": [formatted_total_budget],
    "Average Math Score": [formatted_average_math_score],
    "Average Reading Score": [formatted_average_reading_score],
    "% Passing Math": [formatted_passing_math_percentage],
    "% Passing Reading": [formatted_passing_reading_percentage],
    "Overall Passing Rate": [formatted_overall_passing_rate]
})

# Display the DataFrame
print(district_summary)

  Total Students        Total Budget Average Math Score Average Reading Score  \
0         32,715  $82,932,329,558.00              78.99                 81.88

  % Passing Math % Passing Reading Overall Passing Rate
0         89.78%           102.74%               96.26%

## School Summary

In [36]:
# Use the code provided to select the type per school from school_data
school_type = school_data_complete.set_index(["school_name"])["type"]
print(school_type)

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [37]:
# Calculate the total student count per school from school_data

total_students_per_school = school_data_complete.groupby('school_name')['student_name'].count()

# Convert to DataFrame for better readability
total_students_per_school_df = total_students_per_school.reset_index()
total_students_per_school_df.columns = ['School Name', 'Total Students']

# Display the DataFrame
print(total_students_per_school_df)

              School Name  Total Students
0      Bailey High School            4976
1     Cabrera High School            1858
2    Figueroa High School            2949
3        Ford High School            2739
4     Griffin High School            1468
5   Hernandez High School            4635
6      Holden High School             427
7       Huang High School            2917
8     Johnson High School            4761
9        Pena High School             962
10  Rodriguez High School            3999
11    Shelton High School            1761
12     Thomas High School            1635
13     Wilson High School            2283
14     Wright High School            1800

In [59]:
import pandas as pd

# Assuming the following columns exist in your DataFrame:
# 'school_name', 'type', 'total_students', 'budget', 'math_score', 'reading_score'

# 1. Select the school type
school_type = school_data_complete.set_index('school_name')['type']

# 2. Calculate the total student count
total_students_count = school_data_complete.groupby('school_name')['student_name'].count()

In [49]:
# Calculate the total school budget and per capita spending per school from school_data
#per_school_budget =per_school_capita =
per_capita_spending = school_data_complete.groupby('school_name')['budget'].sum() / total_students_count

In [50]:
# Calculate the average test scores per school from school_data_complete
average_math_score = school_data_complete.groupby('school_name')['math_score'].mean()
average_reading_score = school_data_complete.groupby('school_name')['reading_score'].mean()

In [51]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete

school_students_passing_math =passing_math_count = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['math_score'].count()

In [52]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
passing_reading_count = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['reading_score'].count()

In [53]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [54]:
# Use the provided code to calculate the passing rates
# per_school_passing_math = school_students_passing_math / per_school_counts * 100
# per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
# overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
both_passing = school_data_complete[
    (school_data_complete['math_score'] >= 70) & 
    (school_data_complete['reading_score'] >= 70)
]
both_passing_count = both_passing.groupby('school_name')['math_score'].count()

total_schools = school_data_complete['school_name'].nunique()
passing_math_percentage = (passing_math_count / total_students_count) * 100
passing_reading_percentage = (passing_reading_count / total_students_count) * 100
overall_passing_rate = (both_passing_count / total_students_count) * 100

In [55]:
school_data_complete = school_data_complete[~school_data_complete.index.duplicated(keep='first')]

In [56]:
# Create the per_school_summary DataFrame

per_school_summary = pd.DataFrame({
    'School Type': type,
    'Total Students': total_students_count,
    'Per Capita Spending': per_capita_spending,
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': passing_math_percentage,
    '% Passing Reading': passing_reading_percentage,
    '% Overall Passing': overall_passing_rate
})

# Reset index to make 'school_name' a column again
per_school_summary = per_school_summary.reset_index()

# Display the DataFrame
print(per_school_summary)

              school_name     School Type  Total Students  \
0      Bailey High School  <class 'type'>            4976
1     Cabrera High School  <class 'type'>            1858
2    Figueroa High School  <class 'type'>            2949
3        Ford High School  <class 'type'>            2739
4     Griffin High School  <class 'type'>            1468
5   Hernandez High School  <class 'type'>            4635
6      Holden High School  <class 'type'>             427
7       Huang High School  <class 'type'>            2917
8     Johnson High School  <class 'type'>            4761
9        Pena High School  <class 'type'>             962
10  Rodriguez High School  <class 'type'>            3999
11    Shelton High School  <class 'type'>            1761
12     Thomas High School  <class 'type'>            1635
13     Wilson High School  <class 'type'>            2283
14     Wright High School  <class 'type'>            1800

    Per Capita Spending  Average Math Score  Average Reading Score  \
0             3124928.0           77.048432              81.033963
1             1081356.0           83.061895              83.975780
2             1884411.0           76.711767              81.158020
3             1763916.0           77.102592              80.746258
4              917500.0           83.351499              83.816757
5             3022020.0           77.289752              80.934412
6              248087.0           83.803279              83.814988
7             1910635.0           76.629414              81.182722
8             3094650.0           77.072464              80.966394
9              585858.0           83.839917              84.044699
10            2547363.0           76.842711              80.744686
11            1056600.0           83.359455              83.725724
12            1043130.0           83.418349              83.848930
13            1319574.0           83.274201              83.989488
14            1049400.0           83.682222              83.955000

    % Passing Math  % Passing Reading  % Overall Passing
0        66.680064          81.933280          54.642283
1        94.133477          97.039828          91.334769
2        65.988471          80.739234          53.204476
3        68.309602          79.299014          54.289887
4        93.392371          97.138965          90.599455
5        66.752967          80.862999          53.527508
6        92.505855          96.252927          89.227166
7        65.683922          81.316421          53.513884
8        66.057551          81.222432          53.539172
9        94.594595          95.945946          90.540541
10       66.366592          80.220055          52.988247
11       93.867121          95.854628          89.892107
12       93.272171          97.308869          90.948012
13       93.867718          96.539641          90.582567
14       93.333333          96.611111          90.333333

In [57]:
per_school_summary.columns

Index(['school_name', 'School Type', 'Total Students', 'Per Capita Spending',
       'Average Math Score', 'Average Reading Score', '% Passing Math',
       '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [58]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## Highest-Performing Schools (by % Overall Passing)

In [60]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
 #Sort the schools by % Overall Passing in descending order
top_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=False)

# Display the first 5 rows
print(top_schools.head(5))

            school_name     School Type  Total Students  Per Capita Spending  \
1   Cabrera High School  <class 'type'>            1858            1081356.0
12   Thomas High School  <class 'type'>            1635            1043130.0
4   Griffin High School  <class 'type'>            1468             917500.0
13   Wilson High School  <class 'type'>            2283            1319574.0
9      Pena High School  <class 'type'>             962             585858.0

    Average Math Score  Average Reading Score  % Passing Math  \
1            83.061895              83.975780       94.133477
12           83.418349              83.848930       93.272171
4            83.351499              83.816757       93.392371
13           83.274201              83.989488       93.867718
9            83.839917              84.044699       94.594595

    % Passing Reading  % Overall Passing
1           97.039828          91.334769
12          97.308869          90.948012
4           97.138965          90.599455
13          96.539641          90.582567
9           95.945946          90.540541

## Bottom Performing Schools (By % Overall Passing)

In [61]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
# Sort the schools by % Overall Passing in ascending order
bottom_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=True)

# Display the first 5 rows
print(bottom_schools.head(5))

              school_name     School Type  Total Students  \
10  Rodriguez High School  <class 'type'>            3999
2    Figueroa High School  <class 'type'>            2949
7       Huang High School  <class 'type'>            2917
5   Hernandez High School  <class 'type'>            4635
8     Johnson High School  <class 'type'>            4761

    Per Capita Spending  Average Math Score  Average Reading Score  \
10            2547363.0           76.842711              80.744686
2             1884411.0           76.711767              81.158020
7             1910635.0           76.629414              81.182722
5             3022020.0           77.289752              80.934412
8             3094650.0           77.072464              80.966394

    % Passing Math  % Passing Reading  % Overall Passing
10       66.366592          80.220055          52.988247
2        65.988471          80.739234          53.204476
7        65.683922          81.316421          53.513884
5        66.752967          80.862999          53.527508
8        66.057551          81.222432          53.539172

## Math Scores by Grade

In [62]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
# Group by school_name and take the mean of each
ninth_grade_math = ninth_graders.groupby('school_name')['math_score'].mean()
tenth_grade_math = tenth_graders.groupby('school_name')['math_score'].mean()
eleventh_grade_math = eleventh_graders.groupby('school_name')['math_score'].mean()
twelfth_grade_math = twelfth_graders.groupby('school_name')['math_score'].mean()

# Combine each of the scores into a single DataFrame
math_scores_by_grade = pd.DataFrame({
    '9th Grade Math Score': ninth_grade_math,
    '10th Grade Math Score': tenth_grade_math,
    '11th Grade Math Score': eleventh_grade_math,
    '12th Grade Math Score': twelfth_grade_math
})

# Reset index to make 'school_name' a column again
math_scores_by_grade = math_scores_by_grade.reset_index()

# Display the DataFrame
print(math_scores_by_grade)

              school_name  9th Grade Math Score  10th Grade Math Score  \
0      Bailey High School             77.083676              76.996772
1     Cabrera High School             83.094697              83.154506
2    Figueroa High School             76.403037              76.539974
3        Ford High School             77.361345              77.672316
4     Griffin High School             82.044010              84.229064
5   Hernandez High School             77.438495              77.337408
6      Holden High School             83.787402              83.429825
7       Huang High School             77.027251              75.908735
8     Johnson High School             77.187857              76.691117
9        Pena High School             83.625455              83.372000
10  Rodriguez High School             76.859966              76.612500
11    Shelton High School             83.420755              82.917411
12     Thomas High School             83.590022              83.087886
13     Wilson High School             83.085578              83.724422
14     Wright High School             83.264706              84.010288

    11th Grade Math Score  12th Grade Math Score
0               77.515588              76.492218
1               82.765560              83.277487
2               76.884344              77.151369
3               76.918058              76.179963
4               83.842105              83.356164
5               77.136029              77.186567
6               85.000000              82.855422
7               76.446602              77.225641
8               77.491653              76.863248
9               84.328125              84.121547
10              76.395626              77.690748
11              83.383495              83.778976
12              83.498795              83.497041
13              83.195326              83.035794
14              83.836782              83.644986

## Reading Score by Grade

In [63]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading = ninth_graders.groupby('school_name')['reading_score'].mean()
tenth_grade_reading = tenth_graders.groupby('school_name')['reading_score'].mean()
eleventh_grade_reading = eleventh_graders.groupby('school_name')['reading_score'].mean()
twelfth_grade_reading = twelfth_graders.groupby('school_name')['reading_score'].mean()

# Combine each of the scores into a single DataFrame
reading_scores_by_grade = pd.DataFrame({
    '9th Grade Reading Score': ninth_grade_reading,
    '10th Grade Reading Score': tenth_grade_reading,
    '11th Grade Reading Score': eleventh_grade_reading,
    '12th Grade Reading Score': twelfth_grade_reading
})

# Reset index to make 'school_name' a column again
reading_scores_by_grade = reading_scores_by_grade.reset_index()

# Display the DataFrame
print(reading_scores_by_grade)

              school_name  9th Grade Reading Score  10th Grade Reading Score  \
0      Bailey High School                81.303155                 80.907183
1     Cabrera High School                83.676136                 84.253219
2    Figueroa High School                81.198598                 81.408912
3        Ford High School                80.632653                 81.262712
4     Griffin High School                83.369193                 83.706897
5   Hernandez High School                80.866860                 80.660147
6      Holden High School                83.677165                 83.324561
7       Huang High School                81.290284                 81.512386
8     Johnson High School                81.260714                 80.773431
9        Pena High School                83.807273                 83.612000
10  Rodriguez High School                80.993127                 80.629808
11    Shelton High School                84.122642                 83.441964
12     Thomas High School                83.728850                 84.254157
13     Wilson High School                83.939778                 84.021452
14     Wright High School                83.833333                 83.812757

    11th Grade Reading Score  12th Grade Reading Score
0                  80.945643                 80.912451
1                  83.788382                 84.287958
2                  80.640339                 81.384863
3                  80.403642                 80.662338
4                  84.288089                 84.013699
5                  81.396140                 80.857143
6                  83.815534                 84.698795
7                  81.417476                 80.305983
8                  80.616027                 81.227564
9                  84.335938                 84.591160
10                 80.864811                 80.376426
11                 84.373786                 82.781671
12                 83.585542                 83.831361
13                 83.764608                 84.317673
14                 84.156322                 84.073171

## Scores by School Spending

In [64]:
# Define spending ranges and labels
spending_bins = [0, 585, 615, 645, 675]
spending_labels = ['< $585', '$585-615', '$615-645', '$645-675']

In [74]:
# Bin the spending data
per_school_summary['Spending Ranges (Per Student)'] = pd.cut(
    per_capita_spending, bins=spending_bins, labels=spending_labels
)

In [75]:
# Group by spending ranges with observed=False (current default behavior)
spending_summary = pd.DataFrame({
    'Average Math Score': per_school_summary.groupby('Spending Ranges (Per Student)', observed=False)['Average Math Score'],
    'Average Reading Score': per_school_summary.groupby('Spending Ranges (Per Student)', observed=False)['Average Reading Score'],
    '% Passing Math': per_school_summary.groupby('Spending Ranges (Per Student)', observed=False)['% Passing Math'].mean(),
    '% Passing Reading': per_school_summary.groupby('Spending Ranges (Per Student)', observed=False)['% Passing Reading'].mean(),
    '% Overall Passing': per_school_summary.groupby('Spending Ranges (Per Student)', observed=False)['% Overall Passing'].mean()
})

In [76]:
# Reset index to make 'Spending Ranges (Per Student)' a column again
spending_summary = spending_summary.reset_index()

In [84]:
# Display the DataFrame
print(spending_summary)

  Spending Ranges (Per Student) Average Math Score Average Reading Score  \
0                        < $585       (< $585, [])          (< $585, [])
1                      $585-615     ($585-615, [])        ($585-615, [])
2                      $615-645     ($615-645, [])        ($615-645, [])
3                      $645-675     ($645-675, [])        ($645-675, [])

   % Passing Math  % Passing Reading  % Overall Passing
0             NaN                NaN                NaN
1             NaN                NaN                NaN
2             NaN                NaN                NaN
3             NaN                NaN                NaN

In [97]:
import pandas as pd

# using the'budget' column in your DataFrame
spending_bins = [0, 585, 615, 645, 675]
spending_labels = ["<$585", "$585-615", "$615-645", "$645-675"]

# Add a new column for Spending Ranges
school_data_complete["Spending Ranges (Per Student)"] = pd.cut(school_data_complete["budget"], spending_bins, labels=spending_labels)

# Calculate mean scores per spending range
spending_math_scores = school_data_complete.groupby(["Spending Ranges (Per Student)"])["math_score"].mean()
spending_reading_scores = school_data_complete.groupby(["Spending Ranges (Per Student)"])["reading_score"].mean()
spending_passing_math = school_data_complete.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_data_complete.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_data_complete.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Create a DataFrame called spending_summary
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

print(spending_summary)

C:\Users\enmwa\AppData\Local\Temp\ipykernel_12676\3814315997.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_data_complete.groupby(["Spending Ranges (Per Student)"])["math_score"].mean()
C:\Users\enmwa\AppData\Local\Temp\ipykernel_12676\3814315997.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_data_complete.groupby(["Spending Ranges (Per Student)"])["reading_score"].mean()
C:\Users\enmwa\AppData\Local\Temp\ipykernel_12676\3814315997.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_data_complete.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()

KeyError: 'Column not found: % Passing Math'

## Scores by School Size

In [81]:
# Define size bins and labels
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Assuming you have a DataFrame per_school_summary with a column 'Total Students'
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], bins=size_bins, labels=size_labels)

# Calculate mean scores per school size
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
overall_passing_size = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

# Create a DataFrame called size_summary
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": overall_passing_size
})

print(size_summary)

                    Average Math Score  Average Reading Score  % Passing Math  \
School Size
Small (<1000)                83.821598              83.929843       93.550225
Medium (1000-2000)           83.374684              83.864438       93.599695
Large (2000-5000)            77.746417              81.344493       69.963361

                    % Passing Reading  % Overall Passing
School Size
Small (<1000)               96.099437          89.883853
Medium (1000-2000)          96.790680          90.621535
Large (2000-5000)           82.766634          58.286003

C:\Users\enmwa\AppData\Local\Temp\ipykernel_12676\2086475196.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\enmwa\AppData\Local\Temp\ipykernel_12676\2086475196.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\enmwa\AppData\Local\Temp\ipykernel_12676\2086475196.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\enmwa\AppData\Local\Temp\ipykernel_12676\2086475196.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\enmwa\AppData\Local\Temp\ipykernel_12676\2086475196.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_size = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [70]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget',
       'Spending Ranges (Per Student)'],
      dtype='object')

In [71]:
per_school_summary.columns

Index(['school_name', 'School Type', 'Total Students', 'Per Capita Spending',
       'Average Math Score', 'Average Reading Score', '% Passing Math',
       '% Passing Reading', '% Overall Passing',
       'Spending Ranges (Per Student)'],
      dtype='object')

## Scores by School Type

In [80]:
# Assuming you have a DataFrame per_school_summary with a column 'School Type'
# Calculate mean scores per school type
type_math_scores = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_math = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
overall_passing_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

# Create a DataFrame called type_summary
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": overall_passing_type
})

print(type_summary)

                Average Math Score  Average Reading Score  % Passing Math  \
School Type
<class 'type'>            80.43253              82.529188       80.987054

                % Passing Reading  % Overall Passing
School Type
<class 'type'>          89.219023           73.27756